article {
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Oswald', sans-serif;
  width: 50rem;
  max-width: 80%;
}

h3 {
  font-family: inherit;
  font-weight: bold;
}
